<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Buenos aires Basquet</title>
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../public/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../public/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area2">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <div class="header_nav">
          <a class="navbar-brand brand_desktop" href="/">
            <img src="../public/images/BUENOS AIRES BASQUET_LOGO.PNG" alt="" />
          </a>
          <div class="main_nav">
            <div class="top_nav">
              <ul class=" ">
                <li class="">
                  <a class="" href="https://wa.me/5491150006768?text=Quiero%20hacer%20una%20consulta" target="_blank">
                    <img src="../public/images/telephone.png" alt="" />
                    <span>+54 9 11 5000-6768</span>
                  </a>
                </li>                
                <li class="">
                  <a class="" href="mailto:buenosairesbasquet@gmail.com">
                    <img src="../public/images/mail.png" alt="" />
                    <span>buenosairesbasquet@gmail.com</span>
                  </a>                  
                </li>
                <li class="">
                  <a class="" href="https://maps.app.goo.gl/uJMpnWwEtAgMhga2A" target="_blank">
                    <img src="../public/images/location.png" alt="" />
                    <span>Nuestras sedes</span>
                  </a>
                  
                </li>
              </ul>
            </div>
            <div class="bottom_nav">
              <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand brand_mobile" href="/">
                  <img src="../public/images/BUENOS AIRES BASQUET_LOGO.PNG" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                      <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/sobrenosotros"> Sobre Nosotros </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/clases"> Reservas </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/alumno">Mi cuenta</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                      </li>
                      <li class="nav-item">
                        <button class="nav-link" id="logout" href="/" onclick="logout()">Log out</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
<body>
  <div class="alumno-container">
    <!-- Aquí irá el contenido de la página del alumno -->
    <h2>Mi Perfil</h2>

    <div>
      <label for="nombreCompleto">Nombre completo:</label>
      <p id="fullname-p"></p>
    </div>

    <div>
      <label for="edad">Edad:</label>
      <p id="age-p"></p>
    </div>

    <div>
      <h3>Mis reservas:</h3>
      <div id="reserves-container">

      </div>
    </div>


    
<!--- <div>
      <label for="certificadoSalud">Certificado de Salud:</label>
      <button onclick="verCertificado()">Ver Certificado</button>
    </div>
  -->   

    <!-- Otros campos modificables y botones según tus necesidades -->

  </div>

                <!-- footer section -->
                <section class=" footer_section ">
                  <div class="social_box">
                    <a href="https://www.instagram.com/buenosairesbasquet/?hl=es" target="_blank">
                      <img src="../public/images/instagram.png" alt="">
                    </a>
                    <p>
                      &copy; 2024 All Rights Reserved. Design by
                      <a href="https://html.design/">Kevin Yorio</a>
                    </p>
                  </div>
                </section>
                <!-- footer section -->

  <script src="/public/js/alumno.js"></script>

  <script type="text/javascript" src="../public/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../public/js/bootstrap.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
    <script src="../public/js/logout.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style");
    }
  </script>

  <!-- owl carousel script -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 2
        }
      }
    });


    $(".owl_carousel1").owlCarousel({
      loop: true,
      margin: 25,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 2
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

</body>
</html>
